/* Write your CSS here */
* {
  font-family: 'Roboto';
  margin: 0px;
}

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffd569;
  padding: 40px;
}

.fruitbg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
  background-color: #ffffff;
  border-radius: 6px;
}

.bg-container2 {
  display: flex;
  flex-direction: row;
}

.mainbg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.title {
  margin-bottom: 60px;
}

.text {
  color: #ffd569;
}

.image {
  width: 200px;
  margin-bottom: 20px;
}

.button {
  border-radius: 5px;
  border-width: 0px;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px;
  cursor: pointer;
  outline: none;
}
